


.workForm {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  height: 70%;
}
.workForm > div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.workForm > button {
  margin-top: 1rem;
  align-self: self-end;
}

.workSubmit {
  padding: 1px;
}
