.mainDisplay{
  justify-content: center;
  align-items: start;
  padding: 5% 10% 5% 10%;
}
.toDoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  width: 15rem;
  height: 15rem;
  padding: 1rem;
}

.top {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.toDoCard {
  background-color: #CBDCEB;
}


.toDoDesc {
  justify-self: center;
  padding: 2rem;
  
}

.toDoDate {
  justify-self: self-start;
}
.toDoTitle{
  padding-top: 0.32rem;
}
.toDoCheck{
padding: 1rem;
}

.toDoCheck[data-check="false"]{
  background: url('../assets/checkbox_empty.svg') no-repeat center;


}
.toDoCheck[data-check="true"]{
  background: url('../assets/checkbox_checked.svg') no-repeat center;
  
}

.prios[data-prio="1"] {
  background-color: rgb(73, 146, 44); /* <-- change this to any color */
  -webkit-mask: url('../assets/stat1.svg') no-repeat center;
  -webkit-mask-size: contain;
  mask: url('../assets/stat1.svg') no-repeat center;
  mask-size: contain;
  padding: 1rem;
}

.prios[data-prio="2"] {
  background-color: rgb(238, 157, 37); /* <-- change this to any color */
  -webkit-mask: url('../assets/stat2.svg') no-repeat center;
  -webkit-mask-size: contain;
  mask: url('../assets/stat2.svg') no-repeat center;
  mask-size: contain;
  padding: 1rem;
}

.prios[data-prio="3"] {
  background-color: rgb(177, 17, 17); /* <-- change this to any color */
  -webkit-mask: url('../assets/stat3.svg') no-repeat center;
  -webkit-mask-size: contain;
  mask: url('../assets/stat3.svg') no-repeat center;
  mask-size: contain;
  padding: 1rem;
}

.bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
}


.toDoCardMoveButton {
  background: url('../assets/move.svg') no-repeat center;
  padding: 1rem;
}
.toDoCardEditButton {
  background: url('../assets/edit.svg') no-repeat center;

  padding: 1rem;
}
.toDoCardDeleteButton {
    background: url('../assets/delete_bin.svg') no-repeat center;

  padding: 1rem;
}

